body {
    padding: 0;
    margin: 0;
}
main {
    margin: auto;
    padding: 2rem;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
    text-align: justify;
}
@media screen and (min-width: 768px) {
    main {
        max-width: 80%;
    }
}
@media screen and (min-width: 1366px) {
    main {
        max-width: 60%;
    }
}
a {
    color: #0645ad;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.category {
    display: block;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    margin: -1px 0 0 -1px;
    padding: 0.25rem 0.5rem;
}
table {
    border-collapse: collapse;
}
th {
    background-color: #eaecf0;
    text-align: center;
}
td {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
}
:is(th, td) {
    padding: 0.125rem;
}
:is(h1, h2) {
    border-bottom: 1px solid #a2a9b1;
    font-family: 'Times New Roman', Times, serif;
}
article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-nav {
    display: flex;
    padding: 1rem;
    background-color: #f7f7f7;
}
.main-nav > input {
    margin-left: auto;
    border: 1px solid gray;
    border-radius: 1px;
    padding: 0.5rem 0.5rem;
    outline: none !important;
}
